.btn {
    border: none;
    border-radius: 100px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, .15);
    cursor: pointer;
    transition: all .1s;
    outline: none;

    &:active {
        transform: scale(.95);
        box-shadow: 0 2px 20px rgba(0, 0, 0, .1);
    }

    &-white {
        width: 20rem;
        padding: 1rem;
        background-color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 2rem;
        font-weight: 500;

        @media only screen and (max-width: 1000px) {
            width: 18rem;
            padding: 1rem;
            font-size: 1.75rem;
        }

        @media only screen and (max-width: 500px) {
            width: 14rem;
            padding: 1rem;
            font-size: 1.5rem;
        }

        &:hover {
            background-color: hsl(0, 0%, 97%);
        }
    }

      &-pink {
          width: 32rem;
          padding: 2rem;
          background-color: var(--color-pink);
          color: white;
          font-family: 'Poppins', sans-serif;
          font-size: 2rem;
          font-weight: 500;

          @media only screen and (max-width: 1000px) {
              width: 28rem;
              padding: 1.75rem;
              font-size: 1.75rem;
          }

          &:hover {
              background-color: hsla(322, 100%, 66%, 0.808);
          }
      }
}